<div>
	<%= @user.email %>
</div>

<div>
Logged in as: <%= current_user.email %>
</div>

<div>
<% if current_user.following?(@user) %>
	following? evaluates to <%= current_user.following?(@user)%> @user.id is <%= @user.id%> current_user.id is <%= current_user.id%>

	<%= button_to "Unfollow #{@user.email}",  [@user, :following_relationship], method: :delete %>
<%else%>

	user.following?(@user) evaluates to <%= current_user.following?(@user)%> @user.id <%= @user.id%> current_user.id <%= current_user.id%>
	<%= button_to "Follow #{@user.email}",  [@user, :following_relationship] %>
<%end%>
</div>

<div>
<ul>
<%= render @shouts %>
</ul>
</div>