<div class="info_text">
Logged in as: <%= current_user.email %>
</div>


<div class="info_text">
	this is the page of <%= @user.email %>
</div>



<div>
<% if current_user.following?(@user) %>
	<span class="info_text">following? evaluates to <%= current_user.following?(@user)%> @user.id is <%= @user.id%> current_user.id is <%= current_user.id%></p>

	<%= button_to "Unfollow #{@user.email}",  [@user, :following_relationship], method: :delete %>
<%else%>
	<% if current_user != @user %>
	<span class="info_text">	user.following?(@user) evaluates to <%= current_user.following?(@user)%> @user.id <%= @user.id%> current_user.id <%= current_user.id%></span>
		<%= button_to "Follow #{@user.email}",  [@user, :following_relationship] %>
	<% end %>
<%end%>
</div>
<ul>
<%= render @shouts %>
</ul>


